html, body{
    padding: 0;
    margin: 0;
}

header{
    background-color: purple;
    height: 60px;
    grid-area: header;

}


nav{
    background-color: beige;
   /* float: left;*/
    grid-area: menú;
}
article{
    background-color: aquamarine;
    /*float: left;/**/
    grid-area: content;
    height: 80px;
}
footer{
    background-color: pink;
    height: 120px;
    grid-area: footer;
}
#container{
    background-color: orange;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'menú content content content'
    'footer footer footer footer';
}