html, body{
    padding: 0;
    margin: 0;
}

header{
    background-color: purple;
    height: 60px;

}

section{
    background-color: green;
    overflow: hidden;

}

nav{
    background-color: beige;
    float: left;
    width: 25%;
}
article{
    background-color: aquamarine;
    float: left;
    width: 75%;
    height: 80px;
}
footer{
    background-color: pink;
    height: 120px;
}
#container{
    background-color: orange;
    max-width: 800px;
    margin: 0 auto;
}